.menu {
  background-color: #f5f5f5;
  display: flex;
  flex-flow: row nowrap;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 1140px;
  line-height: 2em;
}

.menu .left-col {
  display: flex;
}

.menu li {
  margin-left: 2em;
}

.menu-big li a {
  font-size: 24px;
}

.menu-small li a {
  font-size: 16px;
}

