.home-page {
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 60px;
  margin-bottom: 51px;
  min-height: calc(100vh - 101px);
}

.home-page .left-content {
  height: calc(100% - 101px);
  text-align: center;
  padding: 20px;
  border: solid 1px;
  border-radius: 5px;
  border-color: grey;
}

.home-page .main-content {
  height: calc(100% - 101px);
  text-align: center;
  padding: 20px;
  border: solid 1px;
  border-radius: 5px;
  border-color: grey;
}
