.cursor {
    cursor: pointer;
}

.cursor:after{
    background-color: #23527c;
    display: block;
    content: "";
    height: 3px;
    width: 0%;
    -webkit-transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}
.cursor:hover:after,
.cursor:focus:after {
    width: 100%;
}