.menu-header .navbar {
  margin-bottom: 0;
  background-color: #4682B4;
  z-index: 9999;
  border: 0;
  font-size: 20px;
  letter-spacing: 4px;
  line-height: 1.4;
}

.menu-header .navbar-brand {
  font-weight: 600;
}

.menu-header .navbar a {
  color: #fff;
}

.menu-header .navbar-nav a:hover {
  background-color: #fff;
  color: #4682B4;
}

.menu-header .nav-item {
  margin-left: 10px;
  margin-right: 10px;
}
