
.nav-header{
	background-color: black;
}
.nav-header a{
	font-size: 18px;
	color: darkgray;
}
.nav-header a:hover{
	color: white;
	text-decoration: underline;
}

.nav-footer{
	background-color: slategray;
	height: 116px;
	margin-top: -116px;
}

.nav-footer a{
	font-size: 14px;
	color: darkgray;
}
.nav-footer a:hover{
	text-decoration: underline;
	color: white;
}