.Comment {
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 1.5rem;
  border: 1px solid #ddd;
  padding: 5px;
}

.mr-3, .mx-3 {
  margin-right: 1rem;
}
.d-flex {
  display: -ms-flexbox;
  display: flex;
}

.rounded-circle {
  border-radius: 50%;
}

.media-body {
  -ms-flex: 1;
  flex: 1;
}

.media-body p {
  word-break:break-all;
}

.mt-0, .my-0 {
  margin-top: 0;
}

